*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f4f4;
}

/* MENU */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1b5e20;
}

nav h2{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: #c8f7c5;
}

.banner{
    text-align: center;
    color: white;
    padding: 100px 20px;

    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../img/trator.jpg");

    background-size: cover;
    background-position: center;
}

/* ACESSIBILIDADE */

.acessibilidade{
    margin-top: 20px;
}

.acessibilidade button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #4caf50;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.acessibilidade button:hover{
    background: #2e7d32;
}

/* ESTATÍSTICAS */

.estatisticas{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 20px;
    background: #f0fff0;
}

.numero{
    width: 280px;
    background: linear-gradient(135deg,#2e7d32,#4caf50);
    color: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.numero:hover{
    transform: translateY(-10px);
}

.numero h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.numero h3{
    color: white;
    margin-bottom: 10px;
}

.numero p{
    line-height: 1.5;
}

/* SEÇÕES */

.hero{
    text-align: center;
    padding: 60px 20px;
}

.hero h2{
    color: #2e7d32;
    margin-bottom: 20px;
}

.hero p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}

/* CARDS */

.cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 50px 20px;
}

.card{
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card h3{
    color: #2e7d32;
    margin-bottom: 15px;
}

/* GALERIA */

.galeria{
    padding: 60px 20px;
    text-align: center;
    background: #b6f5c3d7;
}

.galeria h2{
    color: #2e7d32;
    margin-bottom: 30px;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagens img{
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.imagens img:hover{
    transform: scale(1.05);
}

/* RODAPÉ */

footer{
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}
/* Modo Alto Contraste */

.alto-contraste{
    background: black !important;
    color: rgb(98, 255, 0) !important;
}

.alto-contraste nav{
    background: black !important;
}

.alto-contraste .card,
.alto-contraste .numero{
    background: #222 !important;
    color: rgb(36, 215, 126) !important;
    border: 2px solid rgb(54, 228, 31);
}

.alto-contraste footer{
    background: black !important;
    color: rgb(102, 255, 0) !important;
}

.alto-contraste h1,
.alto-contraste h2,
.alto-contraste h3,
.alto-contraste p,
.alto-contraste a{
    color: rgb(34, 255, 0) !important;
}